basePath: /api/v1
definitions:
  api.RegisterUserRequest:
    properties:
      email:
        type: string
      password:
        type: string
      username:
        type: string
    type: object
  store.User:
    properties:
      created_at:
        type: string
      email:
        type: string
      id:
        type: integer
      role:
        $ref: '#/definitions/store.UserRole'
      username:
        type: string
    type: object
  store.UserRole:
    enum:
    - user
    - admin
    type: string
    x-enum-varnames:
    - RoleUser
    - RoleAdmin
externalDocs:
  description: OpenAPI
  url: https://swagger.io/resources/open-api/
host: localhost:5000
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: The BookClubApp to manage, share, and comment your favorite books.
    The goal is to create a space where you can interact and express your ideas and
    though as you go through the chapters of the books you are reading.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: BookClubApp
  version: "1.0"
paths:
  /users:
    post:
      consumes:
      - application/json
      description: Registers a new user in the system. Expects a JSON body containing
        username, email, and password. Returns the created account object on success.
      parameters:
      - description: Register user request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/api.RegisterUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/store.User'
      summary: Register a new user account
      tags:
      - user
securityDefinitions:
  BasicAuth:
    type: basic
swagger: "2.0"
